{% extends "layout.html" %}
{% block body %}
    <table style='width: 100%;'>
    <tr>
    <td style='text-align: left;'>
	    <form action="{{ url_for('random_search_querry') }}">
	      <dl>
	        <dd><input id='hunch_button' type=submit value="Go on a Hunch!">
	      </dl>
	    </form>
    </td>
    <td>
	    <form action="{{ url_for('search_querry') }}" method=post>
	      <dl>
	        <dt id='search_tagline'>Give me a hint on what you feel like:
	        <dd><input type=text size=30 name=search>
	        <dd id='search_dt'>
	        	{% if bad_search %} <p>Protip: try actual words.</p> {% endif %}
	        	{% if last_result %} <p>I'm out of hunches for what your craving.<br>Please try again.</p> {% endif %}
	        	<input id='search_button' type=submit value="Let's Eat!">
	      </dl>
	    </form>
    </td>
    </tr>
    </table>
{% endblock %}
