body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

#hunch_button	{
					border: 1px solid #A5A5A5;
					background: #377ba8;
					color: white;
					font: bold 11px 'Trebuchet MS';
					padding: 11px;
					cursor: pointer;
					-webkit-border-radius: 12px;
				}

#search_tagline {
					font-family: 'Georgia', serif; 
					margin: 0;
					color: #377ba8; 
					padding-right: 4px;
					margin-top: 32px;
				}

#search_button	{
					border: 1px solid #377ba8;
					background: #eee;
					color: #377ba8;
					font: bold 10px 'Trebuchet MS';
					padding: 4px;
					cursor: pointer;
					-webkit-border-radius: 4px;
				}

#search_dt      { padding-top: 2px; padding-right: 3px;}

#results_header {
					margin: 0; 
					color: #377ba8; 
					font: bold 1.65em 'Georgia', serif; 
					padding-top: 6px;
				}

.page           { 
					margin: 2em auto; 
					width: 35em; 
					border: 5px solid #ccc;
					padding: 0.8em; 
					background: white; 
				}

.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li img { float: left; }
.entries li p 	{ text-align: left; margin-left: 0px;}
.entries td		{ width: 30%;}
.entries a      { text-decoration: none;}

#result			{ font-size: 1em; margin-right: 5px;}
#result_name	{ font-size: 1.6em; float: left;}
#result_img a img{ height: 150px; float: right;}

#result_info li, li h2	
				{
					float: left; 
					margin-left: 0; 
					padding: 0;
					-webkit-margin-after: 0;
					-webkit-margin-before: 0; 
					list-style: none;
					text-align: left;
				}

#result_rating  { height: 20px;}


#reviews 	    { margin-right: 5px; -webkit-margin-after: 0; background-color: #eee;}

#next_hutch		{
				  border: 1px solid #FFFFFF;
				  background: #eee;
				  color: #377ba8;
				  font: bold 18px 'Georgia';
				  padding: 6px;
				  cursor: pointer;
				  -webkit-border-radius: 10px;
				}


.weather 		{ text-align: center; color: #377ba8; font: bold 1.65em 'Georgia', serif;}

.footer			{
					text-align: center; 
					padding-top:5px; 
					padding-bottom:5px; 
					width: 100%; 
					background: #377ba8; 
					margin-bottom: 0em;
				}

.footer p 		{ display: inline-block; -webkit-margin-after: 0;}
.footer form 	{ display: inline-block;}

.footer p a 	{
					font-family: 'Georgia', serif; 
					margin: 0; 
					text-align: center; 
					color: #fafafa; 
					font-size: 1.8em; 
					text-decoration: none;
				}

#sign  			{text-align: center;}
#sign form 	 	{text-align: center;}
#sign a 		{
					font: bold 1em 'Georgia', serif; 
					text-decoration: none; 
					padding-top: 6px;
					text-align: center;
					color: #377ba8;
				}

#weather_button	{
					border: 1px solid #A5A5A5;
					background: #377ba8;
					color: white;
					font: bold 9px 'Trebuchet MS';
					cursor: pointer;
					-webkit-border-radius: 12px;
				}

.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em; background: #fafafa; }
.error          { background: #f0d6d6; padding: 0.5em; }